@import '../../../assets/styles/variables.scss';

.entry-button-wrapper {
  height: 288px;
  width: 288px;
  background-color: $primary-300;
  align-items: center;
  justify-content: center;
  position: relative;

  .entry-img {
    background-repeat: no-repeat, repeat;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    filter: grayscale(100%);
  }

  .entry-content {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;

    .title {
      font-size: 25px;
      color: $primary-300;
    }

    .btn {
      font-family: $secondary-font;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: 0px;
      background-color: $primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      font-size: 14px;
      font-weight: 300;
      width: 160px;
      height: 24px;
    }
  }
}
