@import '../../../assets/styles/variables.scss';

.diary-wrapper {
  max-height: 231px;
  height: 231px;
  width: 231px;
  border: 2px solid $diary-border-color;
  align-items: center;
  padding: 16px;

  .date {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.09000000357627869px;
    text-align: left;
    width: 90px;
    word-wrap: break-word;
  }

  .content {
    font-family: $secondary-font;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0.05999999865889549px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}
