@import '../../assets/styles/variables.scss';

.home-wrapper {
  min-height: 80vh;
  padding-bottom: 38px;

  .top-home {
  }

  .buttons-function {
    justify-content: center;
    width: 100%;
    gap: 64px;
    padding: 24px;
  }
}
