@import '../../assets/variables.scss';

.home-wrapper {
  min-height: 80vh;

  .top-home {
  }

  .buttons-function {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding: 40px;
  }
}
