@import '../../assets/styles/variables.scss';

.header-wrapper {
  height: $header-height;
  background-color: $monochromatic-color;
  padding: 0px 147px 0 138px;
  
  .logo {
  }

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
  }

  a {
    color: $white-color;
    text-decoration: none;
    &.active, &:hover {
      color: $primary-color;
    }
  }
}
