@import '../../assets/styles/variables.scss';

.footer-wrapper {
  height: $footer-height;
  background-color: $monochromatic-color;
  padding: 0 100px;
  display: flex;
  align-items: center;
  gap: 50px;
}
