@import './assets/styles/variables.scss';

.main-container {
  width: $body-width-content;
  margin: 0 auto;
}

.outlet-content {
  overflow: auto;
}
.button-style {
  font-family: $secondary-font;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 0;

  .btn {
    font-size: 18px;
    width: 296px;
    height: 56px;
    background: linear-gradient(
      32.95deg,
      $primary-300 8.75%,
      $primary-color 86.64%
    );
  }
}
.meal-history {
  gap: 8px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: $body-width-content;
}
.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: $gray-stripe;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: $primary-300;
  border-radius: 10px;
}
