@import './assets/styles/variables.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-body-color: #{$white-color};
  --bs-body-font-family: 'InterRegular', 'sans-serif';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "InterRegular";
  src: local("InterRegular"),
    url("./fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-weight: bold;
}
