$primary-color: #ff963c;
$primary-300: #ffcc21;
$secondary-color: #8fe9d0;
$monochromatic-color: #414141;
$diary-border-color: #707070;
$white-color: #ffffff;
$recommended-background: #2e2e2e;
$gray-stripe: #777777;
$badge-color: #ea6c00;
$header-height: 64px;
$footer-height: 128px;
$body-width-content: 960px;
$primary-font: InterRegular;
$secondary-font: Hiragino Kaku Gothic Pro;
